

<div class="cards">
  <div  class="card" *ngFor="let product of products,let i =index" >
      <div>
        <img class="img"[src]="product.imgURL" />
      </div>
      <div>
        <a [title]="product.name + ' details'">
          {{ product.name }}
        </a>
      </div>
      <div>
        <h3>
          Rating:{{product.rating}}
        </h3>
      </div>
      <div>
        <p *ngIf="product.description">
          Description: {{ product.description }}
        </p>
      </div>
      <div>
        <button type="button" (click)="share(product.url)">
          Share
        </button>
      </div>
      <div>
        <p>{{product.numberOfLikes}}</p>
        <button (click)="likeButtonClick(i)">Like</button>
      </div>
      <div>
        <button (click)="deleteButton(i)">Delete</button>
      </div>

       
      </div>
 
</div>
