<div class="cards">
    <div  *ngFor="let product of products,let i =index" >
      <div class="card">
        <div>
          <img class="img"[src]="product.imgURL" />
        </div>
        <div>
          <a [title]="product.name + ' details'">
            {{ product.name }}
          </a>
        </div>
        <div>
          <h3>
            Rating:{{product.rating}}
          </h3>
        </div>
        <div>
          <p *ngIf="product.description">
            Description: {{ product.description }}
          </p>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <div>
            <button type="button" (click)="share(product.url)">
              Share
            </button>
          </div>
          <div style="display: flex; flex-direction: row;">
            <p>{{product.numberOfLikes}}</p>
            <button (click)="likeButtonClick(i)">Like</button>
          </div>
          <div>
            <button (click)="deleteButton(i)">Delete</button>
          </div>
        </div>
  
      </div>
  
  
  </div>
  </div>