<div class="cards">
  <div  *ngFor="let product of products" >
    <div class="card">
      <div>
        <img class="img"[src]="product.imgURL" />
      </div>
      <div>
        <a [title]="product.name + ' details'">
          {{ product.name }}
        </a>
      </div>
      <div>
        <h3>
          Rating:{{product.rating}}
        </h3>
      </div>
      <div>
        <p *ngIf="product.description">
          Description: {{ product.description }}
        </p>
      </div>
      <div>
        <button type="button" (click)="share(product.link)">
          Share
        </button>
      </div>
    </div>


</div>
</div>
